<div align="center">
<img src="http://www.unixstickers.com/image/data/buttons/png/rails.png" height="300" width="300"/>
</div>
<br/><br/>

<% unless flash[:notice].nil? %>
  <h2><%= flash[:notice] %></h2>
<% end %>



</div>